/* app css stylesheet */
body{
  background-color: #BBBBBB;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding: 2em;
}

.note {
  position: relative;
  width:100%;
  height:auto;
  margin: 1.5em;
  padding: 1em;
}
.note h2{
    overflow: hidden;
  font-size: 1.5em ;
}
.note h3{
    overflow: hidden;
  font-size: 0.75em ;
}
.note p{
  font-size: 1em ;
}
.note.minified .description{
  height: 3em ;
  overflow: hidden;
}
.note .btn{
  color:#BBBBBB;
}
.note .btn:hover{
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
}
.col-md .note p{
  overflow: auto;
}
.col-sm .note p{
  overflow: hidden;
}
.doing .note{
  background-color: #97FB56;
}
.toDo .note{
  background-color: #FFFC58;
}
.blocked .note{
  background-color: #FC5680;
}
.done .note{
  background-color: #B65DF3;
}
#resizeIcon{
  position:absolute;
  left: 0;
  top: 0;
}
svg {
  width: 30%;
  height: auto;
}
.background-circle {
  fill: #068C70;
  stroke: #FFFFFF;
  stroke-width: 15px;
}
.chimney {
  fill: #FBF6A7;
}
.chimney-topper {
  fill: #E04E27;
}
.body {
  fill: #FBF6A7;
}
.roof {
  fill: #E04E27;
}
.door {
  fill: #E04E27;
}
.door-knob {
  fill:#FBF6A7;
}
.flower line {
  fill: #068C70;
  stroke: #068C70;
  stroke-width: 1px;
}
.flower-outer {
  fill: #EC7E23;
}
.flower-inner {
  fill: #FBCE1D;
}
text {
  font-family: Filmotype Major;
  font-size: 70px;
  fill: #3E9FD8;
  stroke: #FFFFFF;
  stroke-width: 2px;
}
.windows rect {
  fill: #3E9FD8;
}
.windows line {
  stroke: #E04E27;
  stroke-width: 4px;
}
path {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2px;
}
